[Unit]
Description=nav mesh server for go
After=network.target

[Service]
Type=simple
ExecStart=navmesh-client -sncode MM0002 -type radar -remark 八分山雷达总站
WorkingDirectory=/mnt/navmesh
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
